:root {
  --font-primary: hsl(240, 38%, 20%);
  --font-secondary: hsl(240, 18%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: var(--font-primary);
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;

  height: 500px;
  position: relative;

  .quote-wrapper {
    display: flex;
    flex-direction: column;

    flex: 2.5;
    /* width: 70%; */
    min-width: 460px;
    max-width: 650px;

    .quote {
      width: 650px;
      font-size: 32px;
      margin-top: 4rem;
      margin-bottom: 2rem;
      z-index: 5;
      position: relative;
    }

    .writer-info {
      display: flex;
      align-items: flex-end;
      font-size: 20px;

      p {
        font-weight: 700;
      }

      span {
        font-weight: 500;
        color: var(--font-secondary);
        padding-left: 1rem;
      }
    }
  }

  .img-wrapper {
    transform: translateX(-90px);

    .writer-img {
      width: 500px;
      height: 500px;

      background: url(./images/image-tanya.jpg) no-repeat;
      background-size: cover;

      border-radius: 5px;
    }

    .graphic-3 {
      background: url(./images/pattern-bg.svg) no-repeat;
      background-size: contain;
      width: 632px;
      height: 596px;
      position: absolute;
      top: -56px;
      left: -50px;

      z-index: -1;
    }

    .btn-wrapper {
      width: 120px;
      height: 60px;

      border-radius: 30px;

      background-color: white;

      box-shadow: 0px 21px 115px var(--font-primary);

      transform: translate(60px, -50%);

      display: flex;
      justify-content: center;
      align-items: center;

      overflow: hidden;

      .left-btn {
        flex: 1;
        height: 100%;

        background: url(./images/icon-prev.svg) no-repeat;
        background-position: center;
      }

      .right-btn {
        flex: 1;
        height: 100%;

        background: url(./images/icon-next.svg) no-repeat;
        background-position: center;
      }

      & > div:active {
        cursor: pointer;
        background-color: #e4e4e4;
      }
    }
  }

  .graphic-2 {
    background: url(./images/pattern-quotes.svg) no-repeat;
    background-size: contain;
    height: 114px;
    width: 125px;
    position: absolute;
    top: 0;
    left: 60px;
  }
}

.graphic-1 {
  background: url(./images/pattern-curve.svg) no-repeat;
  background-size: contain;

  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 600px;
  height: 150px;
}

@media only screen and (max-width: 1250px) {
  main {
    width: calc(100% - 90px);
    .quote-wrapper {
      position: relative;

      .quote {
        font-size: 22px;
        width: 100%;
      }

      .writer-info {
        font-size: 16px;
      }

      .graphic-2 {
        width: 80px;
        top: 20px;
        left: 0;
      }
    }

    .img-wrapper {
      .graphic-3 {
        background-size: contain;
        width: 520px;
        height: 556px;
        position: absolute;
        top: -56px;
        left: -50px;
      }

      .writer-img {
        width: 400px;
        height: 400px;
      }

      .btn-wrapper {
        width: 90px;
        height: 40px;
      }
    }
  }
}

@media only screen and (max-width: 895px) {
  main {
    flex-direction: column-reverse;
    align-items: center;

    .quote-wrapper {
      text-align: center;
      min-width: 580px;

      margin-top: 1.5rem;

      .writer-info {
        justify-content: center;
      }

      .graphic-2 {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .img-wrapper {
      position: relative;
      transform: none;

      .btn-wrapper {
        position: absolute;
        left: 50%;
        /* transform: translateX(-50%); */
        transform: translate(-50%, -50%);
      }
    }
  }

  .graphic-1 {
    height: 110px;
  }
}

@media only screen and (max-width: 630px) {
  main {
    .quote-wrapper {
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: 360px;

      .quote {
        font-size: 17px;
        margin-bottom: 1rem;
      }

      .writer-info {
        font-size: 15px;
      }

      .graphic-2 {
        width: 60px;
        top: 20px;
      }
    }

    .img-wrapper {
      .graphic-3 {
        width: 390px;
        height: 390px;
        top: -37px;
      }
      .writer-img {
        width: 300px;
        height: 300px;
      }
    }
  }

  .graphic-1 {
    height: 70px;
  }
}

@media only screen and (max-width: 400px) {
  main {
    .quote-wrapper {
      min-width: 325px;

      .quote {
        font-size: 16px;
      }
    }

    .img-wrapper {
      .graphic-3 {
        width: 330px;
        height: 330px;
      }

      .writer-img {
        width: 250px;
        height: 250px;
      }
    }
  }

  .graphic-1 {
    height: 60px;
  }
}

@media (hover: hover) and (pointer: fine) {
  main {
    .img-wrapper {
      .btn-wrapper {
        & > div:hover {
          cursor: pointer;
          background-color: #e4e4e4;
        }
      }
    }
  }
}
